@import url("https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css");
/* Import Bootstrap CDN */

/* FEATURED SECTION */
/* #featured {
  display: grid;
}
#featured h3 {
  margin-bottom: 5rem;
}
#featured img {
  display: grid;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
} */

/* GRID */
/* This grid isn't allowing two columns for some reason... */

/* Revisit this in media queries for mobile. The featured image is tiny on mobile. */
#featured img {
  max-width: 30%;
}
img {
  max-width: 100%;
}

#coffee-grid {
  margin-bottom: 2rem;
}
/* #container-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
​ #coffee-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 180px;
  gap: 50px;
}

#coffee img {
  object-fit: cover;
  cursor: pointer;
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  margin-bottom: 2rem;
}
h4 {
  text-align: center;
} */
/* ​ .hide {
  display: none;
} */
