@import url("https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css");
/* Import Bootstrap CDN */

/* FEATURED SECTION */
#featured {
  display: grid;
}

#featured img {
  display: grid;
  max-width: 100%;
  object-fit: cover;
}

/* GRID */
#container-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}
​ #grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 180px;
  gap: 50px;
}
​#grid img {
  object-fit: cover;
  cursor: pointer;
}
#coffee img {
  max-width: 400px;
  max-height: 400px;
}
h4 {
  text-align: center;
}
/* ​ .hide {
  display: none;
} */
