@import url("https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css");
/* Import Bootstrap CDN */

/* GRID */
/* This grid isn't allowing two columns for some reason... */

/* Revisit this in media queries for mobile. The featured image is tiny on mobile. */
#featured img {
  max-width: 30%;
}
img {
  max-width: 100%;
}

#coffee-grid {
  margin-bottom: 2rem;
}
